* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #c1b5ad;
  display: flex;
}

#map {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: fixed;
}

nav {
  position: fixed;
  background-color: rgba(255, 166, 0);
  width: 100%;
  height: 5%;
}

.activities {
  background-color: white;
  margin-top: 29.5%;
  padding-bottom: 17%;
  background-color:rgb(203, 235, 248);
  border: 1px solid purple;
}

#container h3 {
  color: rgb(31, 31, 128);
}
